# =====================
# Python / Django
# =====================
__pycache__/
*.py[cod]
*.sqlite3
venv/
.env
*.log
db.sqlite3
staticfiles/

# =====================
# Node / Next.js
# =====================
node_modules/
.next/
out/
dist/

# =====================
# VS Code
# =====================
.vscode/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# Logs
# =====================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# =====================
# Env files
# =====================
.env*